<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alkemics MFE</title>
  <meta name="importmap-type" content="systemjs-importmap" />
  <script type="systemjs-importmap">
    {
      "imports": {
        "react": "https://cdn.jsdelivr.net/npm/react@<%= versions.react %>/umd/react.production.min.js",
        "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@<%= versions['react-dom'] %>/umd/react-dom.production.min.js",
        "react-router": "https://cdn.jsdelivr.net/npm/react-router@<%= versions['react-router'] %>/umd/react-router.min.js",
        "react-router-dom": "https://cdn.jsdelivr.net/npm/react-router-dom@<%= versions['react-router-dom'] %>/umd/react-router-dom.min.js",
        "@alkem/front-root": "/@alkem/front-root/<%= moduleVersion %>/alkem-front-root.js",
        "@alkem/front-navbar": "/@alkem/front-navbar/1.0.0/alkem-front-navbar.js",
        "@alkem/front-product-catalog": "/@alkem/front-product-catalog/1.0.0/alkem-front-product-catalog.js"
      }
    }
  </script>
  <% if (isLocal) { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "@alkem/front-root": "//localhost:<%= port %>/alkem-front-root.js"
      }
    }
  </script>
  <% } %>
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@<%= versions['regenerator-runtime'] %>/runtime.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@<%= versions['import-map-overrides'] %>/dist/import-map-overrides.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@<%= versions.systemjs %>/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@<%= versions.systemjs %>/dist/extras/amd.min.js"></script>
</head>
<body>
  <div id="root"></div>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
  <% if (isLocal) { %>
  <script src="//localhost:<%= port %>/bootstrap.js"></script>
  <% } else { %>
  <script src="/@alkem/front-root/<%= moduleVersion %>/bootstrap.js"></script>
  <% } %>
</body>
</html>
